*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F1F5F8;
}
.body{
    height: 100vh;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}
.heading{
    flex-basis: 100%;
    text-align: center;
}
.heading h1{
    font-size: 2.5rem;
}
.heading .underline{
    width: 100px;
    height: 4px;
    background-color: #49A6E9;
    margin: 0 auto;
    margin-top: 10px;
}
.card{
    margin-top: 5rem;
    width: 650px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.25);
    border-radius: 3px;
}
.content{
    padding: 1.5rem 2rem;
}
.content .img{
    text-align: center;
}
.content .img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.content .info{
    text-align: center;
    margin: 10px 0;
}
.content .info p{
    color: #49A6E9;
    margin-top: 5px;
}
.content .des{
    text-align: center;
}
.content .des p{
    color: #617d98;
    line-height: 1.75rem;
    font-size: 1.1rem;
    font-weight: 100;
}
.content .switch{
    text-align: center;
    margin: 10px 0px;
}
.content .switch span{
    font-size: 2rem;
    font-weight: 600;
    color: #8bcbf9;
    cursor: pointer;
    transition: .5s;
    user-select: none; 
}
.content .switch span:hover{
    color: #49A6E9;
}
.content .switch span:nth-of-type(1){
    margin-right: 30px;

}
.content .btn{
    text-align: center;
}
.content .btn button{
    background: #ebf7ff;
    border: none;
    padding: 7px 10px;
    color: #49a6e9;
    transition: .5s;
    cursor: pointer;
}
.content .btn button:hover{
    color: #000000;
    background-color: #49A6E9;
}